ProductionToolFramework/Model/TestSequence.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestSequence">
    <xs:complexType>
      <xs:attribute type="xs:string" name="xmlns:xsi"/>
      <xs:attribute type="xs:string" name="xmlns:xsd"/>
      <xs:attribute type="xs:string" name="xsi:type"/>
      <xs:attribute type="xs:integer" name="Version"/>
      <xs:attribute type="xs:string" name="Name"/>
      <xs:attribute type="xs:string" name="SerialNumber"/>
      <xs:attribute type="xs:string" name="OperatorID"/>
      <xs:attribute type="xs:string" name="PCID"/>
      <xs:attribute type="xs:string" name="AddtionalInformationRequestText1"/>
      <xs:attribute type="xs:string" name="AddtionalInformationRequestText2"/>
      <xs:attribute type="xs:string" name="AddtionalInformation1"/>
      <xs:attribute type="xs:string" name="AddtionalInformation2"/>
      <xs:attribute type="ConclusionType" name="Conclusion"/>
      <xs:sequence>
        <xs:element name="Tests">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="TestType" name="Test" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="TestType">
    <xs:attribute type="xs:string" name="xsi:type"/>
    <xs:attribute type="xs:string" name="Name"/>
    <xs:attribute type="xs:dateTime" name="Date"/>
    <xs:attribute type="xs:string" name="Source"/>
    <xs:attribute type="ConclusionType" name="Conclusion"/>
    <xs:sequence>
    <xs:element name="Steps">
      <xs:complexType>
        <xs:sequence>
          <xs:element type="TestStepType" name="TestStep" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TestStepType">
    <xs:attribute type="xs:string" name="xsi:type"/>
    <xs:attribute type="xs:string" name="Name"/>
    <xs:attribute type="ConclusionType" name="Conclusion"/>
    <xs:sequence>
    <xs:element name="Results">
      <xs:complexType mixed="true">
        <xs:sequence>
          <xs:element type="ResultType" name="Result" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="ResultTypeOptions" name="xsi:type"/>
        <xs:attribute type="xs:string" name="Name"/>
        <xs:attribute type="xs:string" name="Remarks"/>
        <xs:attribute type="ConclusionType" name="Conclusion"/>
        <xs:attribute type="xs:string" name="ResultValue"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="ResultTypeOptions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ValueResult"/>
      <xs:enumeration value="BooleanResult"/>
      <xs:enumeration value="ErrorResult"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ConclusionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Failed"/>
      <xs:enumeration value="Inconclusive"/>
      <xs:enumeration value="NotTested"/>
      <xs:enumeration value="Passed"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>